@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap');
@import "tailwindcss";

.container{
  max-width: 1224px;
  margin: 0px auto;
}

.font-monrope {
  font-family: 'Manrope', sans-serif;
}

.hero-gradient{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
}
